= bootstrap_form_for [ @<%= singular_table_name %> ] , layout: :vertical, label_col: 'col-sm-2', control_col: 'col-sm-5' do |f|
  - if @<%= singular_table_name %>.errors.any?
    #error_explanation
      %h2
        = pluralize(@<%= singular_table_name %>.errors.count, "error")
        prohibited this <%= singular_table_name %> from being saved:
      %ul
        - @<%= singular_table_name %>.errors.full_messages.each do |message|
          %li= message
  .form-group
    .row
<% attributes.each do |attribute| -%>
      .col-sm-4
        = f.<%= attribute.field_type %> :<%= attribute.column_name %>
<% end -%>
.box-footer
    %button.btn.btn-primary{:type => "submit"}
      %i.fa.fa-save
      %span
      = t("label.save")
    = link_to t('cancel'), @<%= singular_table_name %>_path , class: 'btn btn-default'
