.container
  .row
    #content.col-lg-12{:style => "min-height:1063px !important"}
      / PAGE HEADER
      = render_page_header(title: t('activerecord.label.<%= singular_table_name %>.title_index'), description: t('activerecord.label.<%= singular_table_name %>.title_index'))
      / /PAGE HEADER
      .row
        .col-sm-12
          .box.border.primary
            .box-title
              %h4
                %i.fa.fa-table>
                Editing <%= singular_table_name.titleize %>
              .tools
                %a.collapse{:href => "javascript:;"}
                  %i.fa.fa-chevron-up
                %a.remove{:href => "javascript:;"}
                  %i.fa.fa-times
            .box-body
              = render 'form', <%= singular_table_name %>: @<%= singular_table_name %>

