.container
  .row
    #content.col-lg-12{:style => "min-height:1063px !important"}
      / PAGE HEADER
      = render_page_header(title: t('activerecord.label.<%= singular_table_name %>.title_index'), description: t('activerecord.label.<%= singular_table_name %>.title_index'))
      / /PAGE HEADER
      .row
        .col-sm-12
          .box.border.primary
            .box-title
              %h4
                %i.fa.fa-table
                = t('activerecord.label.<%= singular_table_name %>.title_index')
                Table
              .tools
            .box-body
              = link_to new_<%= singular_table_name %>_path(@<%= singular_table_name %>), class: 'btn btn-primary' do
                %i.fa.fa-plus
                = t('activerecord.label.<%= singular_table_name %>.title_new')
              %table.table
                %thead
                  %tr
                    <% attributes.reject(&:password_digest?).each do |attribute| -%>
%th= t('activerecord.attributes.<%= singular_table_name %>.<%= attribute.name %>')
                    <% end -%>
%tbody
                  - @<%= plural_table_name %>.each do |<%= singular_table_name %>|
                    %tr{:style => "#{opacity(<%= singular_table_name %>)}"}
                      <% attributes.reject(&:password_digest?).each do |attribute| -%>
%td= <%= singular_table_name %>.<%= attribute.name %>
                      <% end %>
                      %td
                        -if <%= singular_table_name %>.archived?
                          %strong.red
                            = t('activerecord.label.<%= singular_table_name %>.archived')
                        - else
                          = link_to t('label.show'), <%= singular_table_name %>, class: 'label label-success label-sm'
                          = link_to t('label.edit'), edit_<%= singular_table_name %>_path(<%= singular_table_name %>), class: 'label label-warning label-sm'
                          = link_to t('label.destroy'), <%= singular_table_name %>, method: :delete, data: { confirm: 'Are you sure?' }, class: 'label label-danger label-sm'


