.container
  .row
    #content.col-lg-12{:style => "min-height:1063px !important"}
      / PAGE HEADER
      = render_page_header(title: t('activerecord.label.<%= singular_table_name %>.title_index'), description: t('activerecord.label.<%= singular_table_name %>.title_index'))
      / /PAGE HEADER
      .row
        .col-sm-12
          .box.border.primary
            .box-title
              %h4
                %i.fa.fa-table
                <%= plural_table_name %>.titleize
              .tools
                %a.collapse{:href => "javascript:;"}
                  %i.fa.fa-chevron-up
                %a.remove{:href => "javascript:;"}
                  %i.fa.fa-times
            .box-body
              .col-lg-12
                %h4.red= t("messages.<%= singular_table_name%>.archived") if @<%= singular_table_name%>.archived?
              <% attributes.reject(&:password_digest?).each do |attribute| -%>
%p
                  .col-sm-2
                    %strong
                    = <%= attribute.human_name %>
                    .col-sm-10
                      = @<%= singular_table_name %>.<%= attribute.name %>
              <% end %>
              = link_to 'Edit', edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), class: 'btn btn-primary'
              \|
              = link_to 'Back', <%= index_helper %>_path , class: 'btn btn-default'
